[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fbglm"]
	path = fbglm
	url = https://github.com/cran/fbglm
[submodule "frbinom"]
	path = frbinom
	url = https://github.com/leejeo25/frbinom
